recursive-include onnxsim *.h *.hpp *.c *.cc *.cpp *.proto
recursive-include cmake *
recursive-include third_party *
recursive-exclude third_party/onnx-optimizer/build *
include CMakeLists.txt
include VERSION
recursive-exclude third_party *.onnx *.pb *.cs *.rs
